NODE_ENV=development
PORT=3000
DATABASE=mongodb://127.0.0.1:27017/natours
JWT_SECRET=4QhqVnY9Qu5)vbxh&sXBgxAwP7*XZQ!!
JWT_EXPIRES_IN=90d

EMAIL_HOST=%%some_email_host%%
EMAIL_HOST_PORT=%%some_host_port%%
EMAIL_USER=%%email_user%%
EMAIL_PASSWORD=%%email_password%%