NODE_ENV=development
PORT=3000
DATABASE=mongodb://127.0.0.1:27017/natours
JWT_SECRET=%%some_secret_string%%
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_HOST=%%some_email_host%%
EMAIL_HOST_PORT=%%some_host_port%%
EMAIL_USER=%%email_user%%
EMAIL_PASSWORD=%%email_password%%